<aside
  class="
    w-64 flex flex-col bg-gray-900 shrink-0 border-r border-white/10 px-4 py-6
  "
>
  <div class="flex items-center space-x-1">
    <div class="h-10 w-10 rounded-xl bg-white/10">
      <img src="/favicon.ico" alt="Logo">
    </div>
    <strong>Alvin C.H.L Tech Blog</strong>
  </div>
  <% home_active = current_page?(root_path) %>
  <% posts_active = request.path.start_with?("/posts") %>

  <nav class="flex flex-col space-y-1 m-4">
    <%= render "shared/nav_link", text: "Home", path: root_path, active: home_active %>
    <%= render "shared/nav_link", text: "Posts", path: posts_path, active: posts_active %>
    <%# Later options %>
  </nav>
</aside>
