<div class="flex flex-col space-y-2 items-center">
  <h1 class="font-bold text-4xl text-center my-2">Alvin C.H. Lin</h1>
  <h3 class="my-2 text-center">A personal tech blog documenting my journey building real things</h3>
  <div class="flex flex-col space-y-2">
    <% @latest_posts.each do |post| %>
      <%= render "posts/list_item_container", post: post %>
    <% end %>
  </div>
  <div>
    <%= link_to "View all posts", posts_path %>
  </div>
</div>
