<div id="<%= dom_id post %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <h1 class="text-3xl font-bold text-center"><%= post.title %></h1>
  </div>
  <div>
    <div class="prose">
      <%= render_markdown(post.body) %>
    </div>
  </div>
</div>
